.container {
    padding: 6rem 4rem;
    background: #fff;
    border-radius: .8rem;
}

.wrapper {
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

.wrapper>h2 {
    color: var(--dark_black);
    font-size: 3rem;
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

.phone {
    display: flex;
    flex-direction: column;
    grid-gap: .5rem;
    color: #574D4D;
    font-size: 1.6rem;
}

.phone>input {
    border: 1px solid #A8AAAE;
    border-radius: .4rem;
    padding: 1rem;
    outline: none;
}

.checkbox {
    display: flex;
    grid-gap: 1rem;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #6F7277;
}

.checkbox input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background: #F7F8F9;
    /* Not removed via appearance */
    margin-top: 1rem;
    /* color: currentColor; */
    width: 3rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: 1px solid #545D60;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.checkbox input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    background-color: CanvasText;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.form>button {
    outline: none;
    border: none;
    padding: 1rem;
    background: var(--dark_blue);
    border-radius: .8rem;
    font-weight: 500;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.form > button:disabled {
    background: var(--light_blue);
    cursor: default;
}