.container {
    padding: 6rem 4rem;
    background: #fff;
    border-radius: .8rem;
}

.wrapper {
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

.wrapper>h2 {
    color: var(--dark_black);
    font-size: 3rem;
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

.phone  {
    display: flex;
    flex-direction: column;
    grid-gap: .5rem;
    color: #574D4D;
    font-size: 1.6rem;
}

.phone >input {
    border: 1px solid #A8AAAE;
    border-radius: .4rem;
    padding: 1rem;
    outline: none;
}

.checkbox {
    display: flex;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #6F7277;
}

.form > button {
    outline: none;
    border: none;
    background: var(--light_blue);
    padding: 1rem;
    border-radius: .8rem;
    font-weight: 500;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}