@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
  --dark_blue: #243658;
  --primary_blue: #357DE9;
  --light_blue: #9EB3DB;
  --dark_red: #FF5454;
  --dark_warning: #E72424;
  --primary_warning: #E03F3F;
  --light_warning: #FFDBDB;
  --dark_black: #000000;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-focus-ring-color: transparent !important;
  outline: none !important;
  background: transparent;
}